.item_container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  text-align: center;
}

.item-forecast_icon {
  height: 200px;
  opacity: 0.3;
  padding: 5px;
}

.item_param,
.item_temperature,
.item_weather_info {
  position: absolute;
  font-size: 25px;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.item_temperature {
  top: 40%;
}

.item_param {
  top: 10%;
}

.item_weather_info {
  top: 70%;
}

@media screen and (max-width: 768px) {
  .item_container {
    height: 100px;
    width: 100px;
  }

  .item_container p {
    font-size: 14px;
  }
}
