.current-forecast_container {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 10%;
}

.current-forecast_icon {
  height: 200px;
  width: 200px;
  float: left;
  padding: 5px;
}

.current-forecast_info {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .current-forecast_icon {
    height: 100px;
    width: 100px;
  }

  .current-forecast_container p {
    font-size: 14px;
  }
}
