<mat-card class="home_container">
  <mat-card-content class="search_center">
    <app-search-location></app-search-location>
  </mat-card-content>
  <div class="weather-info_container" *ngIf="!(isEmpty$ | async)">
    <mat-card-content class="card-content-row">
      <app-current-forecast></app-current-forecast>
      <app-add-favorite></app-add-favorite>
    </mat-card-content>
    <mat-card-content>
      <mat-button-toggle-group [(ngModel)]="showForecastMode" class="toggle-forecasts-view">
        <mat-button-toggle [value]="true">Forecast</mat-button-toggle>
        <mat-button-toggle [value]="false">Chart</mat-button-toggle>
      </mat-button-toggle-group>
      <ng-container *ngIf="showForecastMode">
        <app-future-forecasts></app-future-forecasts>
      </ng-container>
      <ng-container *ngIf="!showForecastMode">
        <app-line-chart></app-line-chart>
      </ng-container>
    </mat-card-content>
  </div>
  <div class="empty_container" *ngIf="isEmpty$ | async">
    <p>This city wasn't found!</p>
  </div>
</mat-card>
