.home_container {
  padding: 10px 250px;
}

.search_center {
  display: flex;
  justify-content: center;
}

.card-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
