.home_container {
  padding: 10px 10%;
  height: auto;
  position: relative;
}

.search_center {
  display: flex;
  justify-content: center;
}

.card-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  height: 100vh;
}

.toggle-forecasts-view {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  border: none;
}

#btn_chart {
  background-color: #BBD2D7;
}

#btn_forecasts {
  background-color: #8BB3BB;
}
